html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: #343d46;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


/* ----  HEADER & NAVIGATION  ---- */

#about_me_page{
    color: #F2C232;
}

.icon-white {
    color: whitesmoke;
}

.main-nav {
    line-height: 70px;
    min-height: 70px;
}

.menu {
    margin: 0 0 0 25px;
}
.menu a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0 10px;
    line-height: 70px;
    
    clear: left;
}
.menu a:hover {
    color: #F2C232;
}

.menu a:active {
    color: #F2C232;
}

label {
    margin: 0 0 0 25px;
    line-height: 70px;
    font-size: 25px;
    display: none;
    
    width: 25px;
    float: left;
}

#toggle {
    display: none;
}



/* MEDIA QUERY */

@media only screen and (max-width:750px) {
    
    main-nav {
        background-color: #4f5b66;
    }
    
    label {
        display: block;
        cursor: pointer;
    }
    
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        margin: 0;
    }
    
    .menu a {
        display: block;
        border-bottom: 1px solid #4f5b66;
        margin: 0;
    }
    
    #toggle:checked + .menu {
        display: block;
        background-color: #4f5b66;
    }
}

/* ----  MAIN CONTENT  ---- */

main {
    display: grid;
    margin: 0 auto;
    
    width: 80vw;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    padding: 25px;
    grid-column-gap: 25px;
}

.headline {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.headline h1 {
    margin: 0;
    font-size: 3em;
    color: #F2C232;
    
    font-weight: SemiBold;
}

.headline h2 {
    margin: 0;
}

.headline h2 a{
    display: inline-block;
    color: #FAE6C4;
    
    text-decoration: none;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
}

.headline h2 a:hover{
    text-decoration: underline;
}

.profileDesc {
    grid-column: 1 / 2;
    grid-row: 2 / span2;
    
    color: ghostwhite;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
    
    font-family: 'IBM Plex Sans',sans-serif;
}

.profileDesc a {
    text-decoration: none;
    color: #F2C232;
}

.profilePhoto {
    grid-column: 2 / 3;
    grid-row: 1 / span 3;
    
    width: 100%;
    height: auto;
}

.profilePhoto img {
    width: 100%;
    height: auto;
}

/* MEDIA QUERY */

@media only screen and (max-width:850px) {
    
    main {
        
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    
    .profilePhoto {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    
    .profileDesc {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    
}

