* {
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  color: dodgerblue;
  
  background-image: url(../images/my-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  
  background-position: center;
}