* {
    box-sizing: border-box;
}

body {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    
    background-color: black;
    background-image: url(images/mydp.png);
    background-size: cover;
    
    background-blend-mode: normal;
    background-position: top;
    background-repeat: no-repeat;
    
    margin: 0;
    padding: 0;
    
    overflow: hidden;
}

/* HEADER STYLES */

header {
    min-height: 10vh;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 25px;
}

.mainNav_List {
    min-width: 40vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.mainNav_List li {
    list-style: none;
}

.mainNav_ListItem a{
    display: inline-block;
    
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
    font-size: 1.2em;
    font-family: 'IBM Plex Mono', sans-serif;
    
    
    padding: 10px 20px;
}

.mainNav_ListItem a:hover {
    color: #FFC400;
}

/* --- MAIN SECTION STYLES --- */

.homeContents {
    width: 80vw;
    min-height: 80vh;
    
    padding: 30px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    
    color: white;
}

.homeGreeting {
    font-size: 8em;
    font-family: 'BebasNeueRegular',sans-serif;
    letter-spacing: 20px;
    
    margin: 0 0 0 -95px;
    transform: rotate(-90deg);
}

.homeDesc {
    max-width: 700px;
    padding: 20px;
}

.homeDesc_Name {
    font-size: 3em;
    font-family: 'IBM Plex Mono',sans-serif;
    font-style: normal;
    
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    
    margin: 0;
}

.homeDesc_Profession {
    font-family: 'IBM Plex Mono', sans-serif;
    color: #FFC400;
}

.me {
    font-family: 'IBM Plex Mono', sans-serif;
    font-style: italic;
    font-size: 1.25em;
}

/* FOOTER SECTION STYLES */

footer {
    min-width: 100vw;
    min-height: 10vh;
    
    position: fixed;
    
    bottom: 0;
}

/* Experiment button */

.experiments {
    position: absolute;
    left: 0px;
    bottom: 5px;
}

.experiments img {
    transition: opacity .2s ease-out 0s;
}

.experimentsTips {
    visibility: hidden;
    
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 70px;
    
    text-decoration: none;
    color: #FFC400;
    
    font-family: 'IBM Plex Mono',sans-serif;
}

.experiments:hover .experimentsTips{
    visibility: visible;
}

.experiments:hover img {
    opacity: .7;
    transition: opacity .2s ease-out 0s;
}


/* Showreel button */

.showreel {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.showreelTips {
    visibility: hidden;
    
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 70px;
    
    text-decoration: none;
    color: #FFC400;
    
    font-family: 'IBM Plex Mono',sans-serif;
}

.showreel:hover .showreelTips {
    visibility: visible;
}

.showreel:hover img {
    opacity: .7;
}


/* --- RESPONSIVENESS OF HOMEPAGE AT 600px --- */


@media screen and (max-width: 600px) {
    
    /* HEADER QUERIES */
    
    header {
                min-height: 30vh;
        
                background-color: rgba(0,0,0,.7);    
                
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
           }
    .mainNav_ListItem a {
        min-width: 100%;
        text-align: center;
    }
    
    .mainNav_List {
        min-width: 100vw;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0;
    }
    
    /* CONTENT QUERIES */
    
    .homeContents {
                    width: 80vw;
                    min-height: 60vh;
        
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: flex-start;
                }
    .homeGreeting {
                    transform: none;
                    font-size: 5em;
                    margin: 0;
                }
    .homeDesc_Name {
        font-size: 2em;
        line-height: 1em;
    }
    .homeDesc_Profession {
        font-size: 1em;
    }
    .homeDesc {
        padding: 0;
    }
    .me {
        margin: 0;
    }
    .logo {
        padding-left: 0;
    }
}

/* RESPONSIVENESS OF HOMEPAGE AT 360px */


@media screen and (max-width: 360px) {

}

